{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Pasteit &mdash; Just Paste your work!!</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Website Template by FreeHTML5.co" />
	<meta name="keywords" content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
	<meta name="author" content="FreeHTML5.co" />


 
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="{% static 'pastebin_app/css/animate.css' %}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{% static 'pastebin_app/css/icomoon.css' %}">
	<!-- Themify Icons-->
	<link rel="stylesheet" href="{% static 'pastebin_app/css/themify-icons.css' %}">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{% static 'pastebin_app/css/bootstrap.css' %}">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="{% static 'pastebin_app/css/magnific-popup.css' %}">

	<!-- Owl Carousel  -->
	<link rel="stylesheet" href="{% static 'pastebin_app/css/owl.carousel.min.css' %}">
	<link rel="stylesheet" href="{% static 'pastebin_app/css/owl.theme.default.min.css' %}">

	<!-- Theme style  -->
	<link rel="stylesheet" href="{% static 'pastebin_app/css/style.css' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<!-- Modernizr JS -->
	<script src="{% static 'pastebin_app/js/modernizr-2.6.2.min.js' %}"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>
		
	<div class="gtco-loader"></div>
	
	<div id="page">

	
	<div class="page-inner">
	<nav class="gtco-nav" role="navigation">
		<div class="gtco-container">
			
			<div class="row">
				<div class="col-sm-4 col-xs-12">
					<div id="gtco-logo"><a href="{% url 'pastebin_app:home' %}">Paste It <em>.</em></a></div>
				</div>
				<div class="col-xs-8 text-right menu-1">
					<ul>
						
						<li><a href="https://github.com/harshnitk17/web-club-recruitment-pastebin/blob/master/README.md" target="_blank">FAQ</a></li>
						
						
						
					</ul>
				</div>
			</div>
			
		</div>
	</nav>
	
	<header id="gtco-header" class="gtco-cover" role="banner" style="background-image: url({% static 'pastebin_app/images/img_4.jpg)' %}">
		<div class="overlay"></div>
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-12 col-md-offset-0 text-left">
					

					<div class="row row-mt-15em">
						<div class="col-md-7 mt-text animate-box" data-animate-effect="fadeInUp">
							
							<h1>Welcome to Paste It</h1>	<br>
							<span class="intro-text-small">Log in to continue</span>
							<h3 style="color:red">{{ error }} </h3>
						</div>
						<div class="col-md-4 col-md-push-1 animate-box" data-animate-effect="fadeInRight">
							<div class="form-wrap">
								<div class="tab">
									<ul class="tab-menu">
										
										<li class="active gtco-first"><a href="#" data-tab="login">Login</a></li>
									</ul>
									<div class="tab-content">
										

										<div class="tab-content-inner active" data-content="login">
											<form action="" method="post">
											{% csrf_token %}
												<div class="row form-group">
													<div class="col-md-12">
														<label for="id_username">Username</label>
														<input type="text" class="form-control" id="id_username" name="username" required autocomplete="off">
													</div>
												</div>
												<div class="row form-group">
													<div class="col-md-12">
														<label for="id_password">Password</label>
														<input type="password" class="form-control" id="id_password" name="password" required autocomplete="off">
													</div>
												</div>

												<div class="row form-group">
													<div class="col-md-12">
														<input type="submit" class="btn btn-primary" value="Login">
														<a href="{% url 'pastebin_app:signup' %}" style="color:white"><button type="button" class="btn btn-danger">Not a member? Signup</button></a>
													</div>
												</div>
											</form>	
										</div>

									</div>
								</div>
							</div>
						</div>
					</div>
							
					
				</div>
			</div>
		</div>
	</header>
	
	<div class="gtco-section border-bottom">
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
					<h2>Latest Posts by PasteIt Members</h2>
					
				</div>
			</div>
			<div class="row">
			{% for names in latest %}
				<div class="col-md-4">
					<div class="price-box">
						<h2 class="pricing-plan">{{names}}</h2>
						{% if forloop.counter is 1 %}
						<h3>Author:{{list1.0}}</h3>
						<a href="{% url 'pastebin_app:share' randomurls.0 %}" target="_blank" class="btn btn-default btn-sm">Open the post</a>{% endif %}
						{% if forloop.counter is 2 %}
						<h3>Author:{{list1.1}}</h3>
						<a href="{% url 'pastebin_app:share' randomurls.1 %}" target="_blank" class="btn btn-default btn-sm">Open the post</a>{% endif %}
						{% if forloop.counter is 3 %}
						<h3>Author:{{list1.2}}</h3>
						<a href="{% url 'pastebin_app:share' randomurls.2 %}" target="_blank" class="btn btn-default btn-sm">Open the post</a>{% endif %}
					</div>
				</div>{% endfor %}
			
			</div>
			
		</div>
	</div>

			

	<footer id="gtco-footer" role="contentinfo">
		<div class="gtco-container">
			<div class="row row-p	b-md">

				<div class="col-md-4">
					<div class="gtco-widget">
						<h3>About <span class="footer-logo">Paste It<span>.<span></span></h3>
						<p>A simple website to paste and share your work.</p>
					</div>
				</div>

				<div class="col-md-4 col-md-push-1">
					
				</div>

				<div class="col-md-4">
					<div class="gtco-widget">
						<h3>Get In Touch</h3>
						<ul class="gtco-quick-contact">
							<li><a href="#"><i class="icon-phone"></i> +91 My phone number</a></li>
							<li><a href="#"><i class="icon-mail2"></i> harshprakashgupta@gmail.com</a></li>
							
						</ul>
					</div>
				</div>

			</div>

			<div class="row copyright">
				<div class="col-md-12">
					<p class="pull-left">
						<small class="block">&copy; 2018  All Rights Reserved.</small> 
						<small class="block">Designed by <a href="http://harshnitk17.github.io" target="_blank">Harsh Prakash Gupta</a> </small>
					</p>
					<p class="pull-right">
						<ul class="gtco-social-icons pull-right">
							
							<li><a href="https://www.linkedin.com/in/harsh-prakash-gupta-b9140816a/" target="_blank"><i class="icon-linkedin"></i></a></li>
							<li><a href="https://www.facebook.com/harshprakash.gupta" target="_blank"><i class="icon-facebook"></i></a></li>
							<li><a href="https://github.com/harshnitk17" target="_blank"><i style="font-size:24px" class="fa">&#xf09b;</i></a></li>
							
						</ul>
					</p>
				</div>
			</div>

		</div>
	</footer>
	</div>

	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>
	
	<!-- jQuery -->
	<script src="{% static 'pastebin_app/js/jquery.min.js' %}"></script>
	<!-- jQuery Easing -->
	<script src="{% static 'pastebin_app/js/jquery.easing.1.3.js' %}"></script>
	<!-- Bootstrap -->
	<script src="{% static 'pastebin_app/js/bootstrap.min.js' %}"></script>
	<!-- Waypoints -->
	<script src="{% static 'pastebin_app/js/jquery.waypoints.min.js' %}"></script>
	<!-- Carousel -->
	<script src="{% static 'pastebin_app/js/owl.carousel.min.js' %}"></script>
	<!-- countTo -->
	<script src="{% static 'pastebin_app/js/jquery.countTo.js' %}"></script>
	<!-- Magnific Popup -->
	<script src="{% static 'pastebin_app/js/jquery.magnific-popup.min.js' %}"></script>
	<script src="{% static 'pastebin_app/js/magnific-popup-options.js' %}"></script>
	<!-- Main -->
	<script src="{% static 'pastebin_app/js/main.js' %}"></script>

	</body>
</html>

